version: '3'
services:
  api:
    build: api/.
    ports:
      - "9090:4001"
    volumes:
      - "./api/mppm-api:/mppm-api"

  node:
    build: node/.
    ports:
      - "9191:3000"
    volumes:
      - "./node/mppm-node:/mppm-node"
